<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>ToDo APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">タスク管理アプリ</h2>
        <h1 class="title">ToDo APP</h1>
        <p class="description">
          タスクの追加や削除を行えるアプリになります。
        </p>
        <a href="/index" class="index-button">一覧を見る</a>
      </div>
    </div>
  </body>
</html>